@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply outline-none;
  }

  input {
    @apply outline-none appearance-none;
  }

  textarea {
    @apply outline-none appearance-none;
  }
  /* 
  ::-webkit-scrollbar-track {
    position: absolute;
    background-color: theme("colors.dark.300");
  }

  ::-webkit-scrollbar {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: theme("colors.dark.300");
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.dark.500");
  } */
}

@layer components {
  .scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
