@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');
/* @import './scrollbar.css'; */

* {
  font-family: 'Nunito Sans', sans-serif;
}


.ka-row {
  cursor: pointer;
}

.ka-row:hover {
  background-color: #f7fcfd;
}

.hover-row-demo .info {
  margin-top: 20px;
  margin-left: 20px;
}