/* Scrollbar  */

::-webkit-scrollbar-track {
  position: absolute;
  background-color: #EAEAEA;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  height: 3px;
  background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb {
  background-color: #C5C5C5;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}